.header {
  display: flex;
  justify-content: space-between;
  padding: 0 16px;
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo-container {
  display: flex;
  align-items: center;
  .logo {
    height: 50px;
    display: block;
  }
}

.actions {
  display: flex;
  gap: 8px;
}

button {
  mat-icon {
    margin-right: 4px;
  }

  &.active-link {
    background-color: rgba(255, 255, 255, 0.15);
    position: relative;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 3px;
      background-color: #ff4081;
    }
  }
}
