<mat-toolbar color="primary" class="header">
  <div class="logo-container">
    <a routerLink="/" class="title">{{ title }}</a>
  </div>

  <div class="actions">
    <button
      mat-button
      routerLink="/"
      routerLinkActive="active-link"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <mat-icon>calendar_today</mat-icon>
      Calendar
    </button>
    <button
      mat-button
      routerLink="/appointment"
      routerLinkActive="active-link"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <mat-icon>add</mat-icon>
      New Event
    </button>
  </div>
</mat-toolbar>
