<div class="calendar-container">
  <div class="calendar-header">
    <div class="calendar-controls">
      <button mat-icon-button (click)="previousMonth()">
        <mat-icon>chevron_left</mat-icon>
      </button>
      <h2>
        {{ (currentDate$ | async)?.getFullYear() }} -
        {{ dateService.getMonthName((currentDate$ | async)?.getMonth() || 0) }}
      </h2>
      <button mat-icon-button (click)="nextMonth()">
        <mat-icon>chevron_right</mat-icon>
      </button>
    </div>
    <button mat-raised-button color="primary" (click)="addAppointment()">
      <mat-icon>add</mat-icon> Add Appointment
    </button>
  </div>

  <div class="calendar-grid">
    <div class="calendar-week-days">
      @for (day of weekDays; track $index) {

      <div class="week-day">
        {{ day }}
      </div>
      }
    </div>

    <div class="calendar-days">
      @for (day of calendarDays$ | async; track $index) {
      <app-calendar-day
        [date]="day.date"
        [appointments]="day.appointments"
        [isCurrentMonth]="day.isCurrentMonth"
      ></app-calendar-day>
      }
    </div>
  </div>
</div>
