<div
  class="day-container"
  [class.other-month]="!isCurrentMonth"
  [class.today]="isToday"
  cdkDropList
  [id]="dayId"
  [cdkDropListData]="appointments"
  cdkDropListSortingDisabled
  cdkDropListConnectedTo="all-days"
  (cdkDropListDropped)="onDrop($event)"
  (dblclick)="createNewAppointmentWithDate()"
  tabindex="0"
  role="button"
>
  <div class="day-header">
    <span class="day-number">{{ date.getDate() }}</span>
  </div>

  <div class="appointments-container">
    @for ( appointment of appointments; track appointment.id) {
    <app-appointment-item
      [appointment]="appointment"
      cdkDrag
      [cdkDragData]="appointment.id"
      (edit)="editAppointment(appointment.id)"
      (delete)="deleteAppointment(appointment.id, $event)"
      (doubleClick)="createNewAppointmentWithDate()"
    >
      <div *cdkDragPreview class="appointment-preview">
        {{ appointment.title }}
      </div>

      <div *cdkDragPlaceholder class="appointment-placeholder"></div>
    </app-appointment-item>
    }
  </div>
</div>
