<div
  class="appointment-item"
  [style.background-color]="appointment.color || '#2196f3'"
  [matTooltip]="appointment.description || ''"
  (click)="handleEdit()"
  (keydown.enter)="handleEdit()"
  (keydown.space)="handleEdit()"
  tabindex="0"
  role="button"
  [attr.aria-label]="'Edit appointment: ' + appointment.title"
>
  <div class="appointment-header">
    <span class="appointment-time">{{ timeString }}</span>
    <button
      mat-icon-button
      class="delete-button"
      (click)="handleDelete($event)"
      aria-label="Delete appointment"
    >
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div class="appointment-title">{{ appointment.title }}</div>
</div>
